/* Estilos do header */
.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  gap: 15px;
  margin-bottom: 25px;
}

.date-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  color: #0d3530;
}
.logo {
  width: 160px;
  height: auto;
  margin: 0 auto;
}
.modal-button {
  background-color: #0d3530;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.box-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 25px;
}

/* Estilos para os ícones de ações */
.action-icons {
  display: flex;
  gap: 8px;
}

.action-icon {
  cursor: pointer;
  color: #0d3530;
}

/* Estilos do footer */
.footer {
  background-color: #0d3530;
  color: white;
  text-align: center;
  padding: 50px 0;
  margin-top: 70px;
}

/* Estilo do detalhes do usuario */
#customerDetail {
  width: 100%;
  border-collapse: collapse;  
}

#customerDetail th, #customerDetail td {
  padding: 10px;
  text-align: left;
  border: 1px solid #e0e0e0; 
}

#customerDetail th {
  background-color: #f2f2f2;
  font-weight: bold;
}

#customerDetail tbody tr:nth-child(even) {
  background-color: #f9f9f9; 
}

#customerDetail tbody tr:hover {
  background-color: #f1f1f1; 
}
